doctype html
html
	head
		meta(charset='utf8')
		meta(name="viewport", content="width=device-width")
		base(href='/')
		title Subtitles For Glass
		link(rel="stylesheet", type="text/css", href="/foundation.css")
		link(rel="stylesheet", type="text/css", href="/app.css")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
	body
		.row#logoPage
			.columns.medium-8.small-12
					img(src="/subtitles_logo.jpg")
			.columns.medium-4.small-12
					#playButton
					.flex-video
						iframe(width="560px",height="315px",src="//www.youtube.com/embed/-RwWhN29b6E",frameborder="0", allowfullscreen)
		.row#signUpForm
			.columns.medium-8.small-9.medium-offset-1
				input.error(type="email",placeholder="Add your email to get updates")
				small.error.hideError please use a valid email address
			.columns.small-3.medium-2
				a.button.postfix.success.radius#signUp Sign Up
			.columns.medium-1
		#videoModal.modalContainer
			iframe(width="560px",height="315px",src="//www.youtube.com/embed/-RwWhN29b6E",frameborder="0", allowfullscreen)
		#modalBackground.modalContainer
		script(src="jquery.min.js")
		script(src="/bootstrap.min.js")
		script(src="/site.js")
		

